@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Playwrite+PL:wght@100..400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    /* font-family: var(--minhaFonte); */
}

:root{
    --corBottoesH2Texto: #FFAE00;
    --arredondamentoBordas: 10px;
    --minhaFonte: "Lora", serif;
}

header{
    background-color: #1E1F22;
    text-align: center;
    padding: 15px;
}

.logo{
    width: 250px;
}

nav a{
    color: white;
    margin: 0px 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: var(--minhaFonte);
}

h1,h2,h3, button {
    margin: 10px 0px;
}

h1{
    text-transform: uppercase;
}

h2{
    color: var(--corBottoesH2Texto);
}

body {
    background-image: url(imagens/bg.png);
    text-align: center;
}


.boxes{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.boxProduto{
    display: flex;
    background-color: rgba(37, 37, 37, 0.8);
    width: 850px;
    height: 300px;
    margin: 0px 0px 40px 0px;
    border-radius: var(--arredondamentoBordas);
    align-items: center;
    justify-content: center;
    
}
.imagemProduto{
    width: 400px;
}

.boxTexto{
    text-align: start;
    width: 400px;
}

button {
    background-color: var(--corBottoesH2Texto);
    padding: 15px;
    border:none;
    border-radius:  var(--arredondamentoBordas);
    width: 150px;
}

.modal h6{
    color: black;
}